* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f6f8;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 25px 0px 40px;
}

h3 {
    margin: 3px 0px 15px;
}

.sezione-politici {
    max-width: 1100px;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

li {
    list-style-type: none;
    flex-basis: calc((100% - 60px) / 4);
    margin-bottom: 20px;
}

.card-politico img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
    display: block;
}